
body {
    background-color:  #7be3e8 !important;
}

.main-sidebar.navnav.sidebar-dark-primary {

    background-color:  #1a585c !important;
}

.content-wrapper {
    background-color:  #7be3e8 !important;
}